<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>urjcW4x4R-PI</title>

<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/pure-min.css">


{% block extra_css %} {% endblock %}


<script src="/static/jquery-latest.min.js"></script>
{% block extra_js %} {% endblock %}

</head>

<body>
	<div class="wrapper">
		<div class="menu">
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
				<a href="/index" class="pure-menu-heading">urjcW4x4R-Pi</a>

				<ul>
					<li><a href="/navigation">Navegación</a></li>
					<li><a href="/controlVehicle">Control del Vehiculo</a></li>
					<li><a href="/log">Log</a></li>
					<li><a href="#">Ayuda</a></li>
				</ul>
			</div>
		</div>
		{% block main %} {% endblock %}
		
	</div>
</body>