{% extends "base.html" %} {% block extra_js %} {% load socketio_tags %}
{% socketio %}

<script src="/static/highcharts.js"></script>
<script src="/static/exporting.js"></script>
<script src="/static/navigation.js"></script>


<script language="javascript" type="text/javascript"
	src="/static/jquery.flot.js"></script>
<script language="javascript" type="text/javascript"
	src="/static/jquery.flot.navigate.js"></script>
{% endblock %} {% block main %}



<div class="navigation">
	<div class="demo-container">
		<div id="navi_map" class="map_placeholder"></div>
		<div class="map_options">
			<button  id="do_route" class="pure-button pure-button-primary">Empezar ruta</button>
			<div id="rutas">
				<div id="switchrutas">Lista de rutas</div>
				<div id="listarutas"</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}
