{% extends "base.html" %}

{% block extra_js %}

	{% load socketio_tags %}
	{% socketio %}

<script src="/static/highcharts.js"></script>
<script src="/static/exporting.js"></script>
<script src="/static/navigation.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.navigate.js"></script>
{% endblock %}

{% block main %}
<h3>Autonavegacion</h3>
<div id="placeholder" style="width:1000px;height:600px;margin:auto"></div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}
